<html>
    <head>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-top navbar-static-top">
            <div class="container-fulid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="http://www.mrayermann.com:5000">Home</a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li><a href ="/about">About</a></li>
                        <li><a href ="https://github.com/rolledback/WinRateCalculator/tree/Web-App-Dev">Source</a></li>
                    </ul>
                </div>
            </div>
            <div class="container">
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Username">
                    </div>
                    <button type="submit" class="btn btn-margin-default" value="search">Search</button>
                </form>
            </div>
        </nav>
        <div class="container">
        <p>This is currently under development. Current example links:</p>
        <ul>
            <li><a href="/player/rolledback">Player results page</a></li>
            <li><a href="/calc?battles=10000&wins=5200&curr=52.0&new=60.0&goal=55">Results page</a></li>
            <li><a href="/calc?battles=1624&wins=873&curr=53.76&new=58.76&goal=56.26&nick=rolledback">Results page from player page</a></li>
            <li><a href="/cache">Cache of player ids</a></li>
        </ul>
    </body>
</html>
