<html>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <body>

        <nav class="navbar navbar-default navbar-top navbar-static-top">
            <div class="container-fulid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="http://www.mrayermann.com:5000">Home</a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li><a href ="/about">About</a></li>
                        <li><a href ="https://github.com/rolledback/WinRateCalculator/tree/Web-App-Dev">Source</a></li>
                    </ul>
                </div>
            </div>
            <div class="container">
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Username">
                    </div>
                    <button type="submit" class="btn btn-margin-default">Search</button>
                </form>
            </div>
        </nav>
        <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">{{ name }}</div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Tank</th>
                        <th>Battles</th>
                        <th>Wins</th>
                        <th>Win Rate</th>
                    </tr>
                    {% for value in player_tanks %}
                    <tr>
                        {% if value.image != "" %}
                        <td><img src={{ value.image }}>{{ value.name }}</td>
                        {% else %}
                        <td>{{ value.name }}</td>
                        {% endif %}
                        <td>{{ value.battles }}</td>
                        <td>{{ value.wins }}</td>
                        <td>{{ value.win_rate }}</td>
                    </tr>
                    {% endfor %}
                </thead>
            </table>
        </div>
        </div>
    </body>
</html>
